<header>
  <div>
    <button id="open-aside-nav">
      <span class="material-symbols-outlined">menu</span>
    </button>
  </div>
  <div class="display-flex">
    <a href="/profile">
      <img
        style="border-radius: var(--r3)"
        src="/images/placeholder/profile.svg"
        width="30px"
        height="30px"
        alt="Perfil"
      />
    </a>
    <button></button>
  </div>
</header>
