<section class="modal display-flex-column out-screen-left">
  <form class="bg-light padding-3 main-shadow radius-2">
    <div>
      <button type="button" class="button-modal-close">
        <span class="material-symbols-outlined" style="font-size: 35px">close</span>
      </button>
    </div>
    <div>
      <h1 class="text-center">Esqueceu a senha?</h1>
    </div>
    <div>
      <label for="forgot-email">
        <span>E-mail</span>
        <input type="email" />
      </label>
    </div>
  </form>
</section>
