<div class="modal-alert-container main-shadow display-flex">
  <section class="modal-alert-body">
    <p id="modal-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <div id="modal-alert-loading" class="display-flex margin-top-1">
      <div class="loading-short"></div>
    </div>
    <div class="display-flex margin-top-1">
      <button id="modal-alert-ok">
        <span>OK</span>
      </button>
    </div>
  </section>
  <div id="modal-alert-close">
    <button
      id="button-modal-alert-close"
      style="
        position: fixed;
        top: var(--p3);
        right: 200vw;
        background: transparent;
        transition: 1s ease-out;
      "
    >
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>
</div>
