<section class="modal display-flex-column out-screen-left">
  <form class="bg-light padding-3 main-shadow radius-2 modal-form">
    <div>
      <button type="button" class="button-modal-close">
        <span class="material-symbols-outlined" style="font-size: 35px; color: #fff">close</span>
      </button>
    </div>
    <div>
      <h1 class="text-center">Esqueceu a senha?</h1>
    </div>
    <div>
      <label for="forgot-email">
        <span>E-mail</span>
        <input type="email" placeholder="john.doe@izanami.os" class="email-input" />
        <small class="small">E-mail inválido</small>
      </label>
    </div>
    <div class="margin-top-2 display-flex">
      <div>
        <button type="submit" class="btn-variant button-submit-modal"><span>Enviar</span></button>
      </div>
    </div>
  </form>
</section>
