<aside class="aside-menu" id="aside-menu-id">
  <nav class="nav-aside-menu">
    <ul>
      <div class="display-flex">
        <button id="button-change-theme" class="button-change-theme-main-sign">
          <img
            alt="Ícone para alterar o tema"
            width="30px"
            height="30px"
            src="/images/icon/moon.svg"
          />
        </button>
        <div style="margin-left: var(--p2); width: 100%">
          <input type="search" id="search-aside-menu" placeholder="Pesquisar..." />
        </div>
      </div>
      <div style="width: 100%; margin: var(--p1) 0" class="display-flex">
        <div class="line"></div>
        <h4>Home</h4>
        <div class="line"></div>
      </div>
      <li>
        <button id="my-feed" class="button-aside-menu-selected">
          <span class="material-symbols-outlined icon-button-aside-menu">dashboard</span>
          <span>Feed</span>
        </button>
      </li>
      <li>
        <button id="my-notifications" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">notifications</span>
          <span>Notificações</span>
        </button>
      </li>
      <div style="width: 100%; margin: var(--p1) 0" class="display-flex">
        <div class="line"></div>
        <h4>Files</h4>
        <div class="line"></div>
      </div>
      <li>
        <button id="my-files" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">folder_open</span>
          <span>Meus arquivos</span>
        </button>
      </li>
      <li>
        <button id="my-drafts" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">edit_square</span>
          <span>Rascunhos</span>
        </button>
      </li>
      <div style="width: 100%; margin: var(--p1) 0" class="display-flex">
        <div class="line"></div>
        <h4>Write</h4>
        <div class="line"></div>
      </div>
      <li>
        <button id="persona" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">folder_shared</span>
          <span>Persona</span>
        </button>
      </li>
      <li>
        <button id="skill" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">note_add</span>
          <span>Habilidade</span>
        </button>
      </li>
      <li>
        <button id="weapon" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">note_add</span>
          <span>Arma</span>
        </button>
      </li>
      <li>
        <button id="clothing" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">note_add</span>
          <span>Vestimenta e/ou armadura</span>
        </button>
      </li>
      <li>
        <button id="other" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">note_add</span>
          <span>Outro</span>
        </button>
      </li>
      <div style="width: 100%; margin: var(--p1) 0" class="display-flex">
        <div class="line"></div>
        <h4>Estória</h4>
        <div class="line"></div>
      </div>
      <li>
        <button id="rpg-sheet" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu">
            format_list_bulleted_add
          </span>
          <span>Ficha</span>
        </button>
      </li>
      <li>
        <button id="book" class="button-aside-menu">
          <span class="material-symbols-outlined icon-button-aside-menu"> book </span>
          <span>Livro</span>
        </button>
      </li>
    </ul>
    <div style="width: 100%; margin: var(--p1) 0" class="display-flex">
      <div class="line"></div>
      <h4>Account</h4>
      <div class="line"></div>
    </div>
    <button class="button-aside-menu sign-out">
      <span class="material-symbols-outlined icon-button-aside-menu">logout</span>
      <span>Sair</span>
    </button>
  </nav>
</aside>
